{% extends "layout/admin_layout.html" %}
{% load static %}
{% load staticfiles %}

{% block content %}

<div class="content-wrapper" style="min-height: 946px;">
  <section class="content">
    <div class="box box-default">
      <div class="box-header with-border">

        {% if responseid %}
                <h3 class="box-title">Update Response</h3>
              {% else %}
                <h3 class="box-title"> Add Response</h3>
              {% endif %}

      </div>
      <div class="box-body">
      <form action="" method="post" id="response_form_id">
        <div class="row">

          {% csrf_token %}

            <input type="hidden" name="responseid" value="{{responseid}}">
            <div class="col-md-4">
                  <div class="form-group">
                      <label> Name  </label>
                          <input type="text" class="form-control" name="response_name" value="{{data.name}}"  maxlength="100">
                  </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label> Response Type  </label>
                    <input type="text" class="form-control" name="response_type" value="{{data.type_of_response}}"  maxlength="200">
                </div>
              
                
              </div>

              <div class="col-md-4">

                <div class="form-group">
                    <label> Description  </label>
                          <input type="text" class="form-control" name="response_description" value="{{data.description}}"  maxlength="200">
                </div>
              </div>
              <div class="col-md-4">
                  <div class="form-group">
                        <label> Impact On Data  </label>
                          <input type="text" class="form-control" name="response_impact_on_data" value="{{data.impace_on_data}}"  maxlength="200">
                  </div>
              </div>

              <div class="col-md-4">
                  <div class="form-group">
                        <label> Is Active  </label>
                        {% if data.is_active %}
                            <input type="checkbox"   name="is_active" checked="">
                        {% else %}
                            <input type="checkbox"   name="is_active">
                        {% endif %}
                  </div>
              </div>
                
                
            
        </div>
        <div class="form-group">
              {% if responseid %}
                <input name="" type="submit" value="Update" class="btn btn-primary" id="financial_form_btn"> 
              {% else %}
                <input name="" type="submit" value="Submit" class="btn btn-primary" id="financial_form_btn"> 
              {% endif %}
              </div>
          </form>
      </div>
  </section>
</div>

{% endblock %}