{% extends "layout/website_layout.html" %}
{% load templatetag %}
{% block content %}

<div class="content-wrapper" style="min-height: 916px;">
    <section class="content-header">
      <h1>
        List
        <small></small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="{% url 'admindashboard' %}"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#"> List    </a></li>
        <li class="active"></li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
               <div class="row">
                <form action="" method="get"  enctype="multipart/form-data" novalidate="novalidate">
                <div class="row">
                    <div class="col-md-3">
                          <div class="form-group">
                          <label> Filter  </label>
                           <select name="filter" onchange="this.form.submit()" class="form-control ">
                             <option> Select </option>
                             {% get_permission_data_from 10 4 as permission_menu %}
        
                             <!-- <option value="1" {% if request.GET.filter == "1" %} selected="" {% endif %}>  Today </option> -->

                              {% if permission_menu.view %}
                                  <option value="2" {% if request.GET.filter == "2" %} selected="" {% endif %}> Current Month </option>
                              {% endif %}

                             {% get_permission_data_from 10 5 as permission_menu %}

                              {% if permission_menu.view %}
                                  <option value="3" {% if request.GET.filter == "3" %} selected="" {% endif %}> Previous Months </option>
                              {% endif %}

                           </select>
                          </div>
                    </div>
                </div>
              </form>
                </div>
            <div class="box-body">
            <div class='table-responsive'> <div style="overflow-x:auto;">
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                    <tr>         
                        <th> Sr.No </th>
                        <th> Employee id   </th>
                        <th> Employee Name  </th>
                        <th> Designation  </th>
                        <th> Department  </th>
                        <th> Location  </th>
                        <th> Advance Type  </th>
                        <th> Advance Amount  </th>
                        <th> Recovery Period  </th>
                        <th> Recovery Start from  </th>
                        <th> Justification  </th>
                        <th> Advance Approved  </th>
                        <th> Approval Status  </th>
                        <th> Action </th>
                    </tr>
                </thead>
                <tbody>
                    {% if responselistquery %}
                         {% for data in responselistquery %}
                          <tr>
                              <td>
                                  <strong>
                                  {{ responselistquery.start_index|add:forloop.counter0 }}
                                </strong>
                              </td>
                              <td>{{ data.employee_id}}</td>
                              <td>{{ data.employee_names }}</td>
                              <td>
                                {{ data.designation }}
                              </td>
                              
                               <td>
                                {{ data.department }}
                              </td>

                              <td>
                              {{  data.location }}
                                  {% comment %} {% for data1 in data.user.usermultiplebranch_set.all %}  
                                  <li>{{ data1.branch_allocated.branch_id }}</li> 
                                  {% endfor %}  {% endcomment %}
                              </td>

                              <td> {{ data.advance_type_1 }} </td>
                              <td> {{ data.advance_amount_1 }} </td>
                              <td> {{ data.recovery_period_1 }} </td>
                              <td> {{ data.recovery_start_from_1 }} </td>
                              <td> {{ data.justification_1 }} </td>
                              <td> {{  data.advance_approved_1 }} </td>
                              <td> {{ data.status }} </td>
                              <td> 
                                {% comment %} {% approval_status_employee_advance request.user.id data.id as get_approval_level %}
                                  
                                  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;
                                  {% if get_approval_level %}
                                      <a href="{% url 'approval_vacancy_update_status' data.id get_approval_level.0.approval_level.sequence 7 %}" class="approval_level_cls"> {{ get_approval_level.0.approval_level.approval_level }}  </a>
                                  {% endif  %} {% endcomment %}
                                {% get_permission_data_from 10 2 as permission_menu %}
        
                                {% if permission_menu.edit %}
                                    <a href="{% url 'website_travel_advance_request_status_update'  data.id %}" style="color: green"> Update </a>
                                {% endif %}
                              </td>
                                  
                          </tr>
                        {% endfor %}
                    {% else %}
                    <tr><td></td></tr>
                    {% endif %}
                </tfoot>
              </table>
            </div>
          </div>
          <!-- /.box -->
        </div>
                <div class="row">
            {% include "layout/manage_pagination.html" %}
        </div>
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
{% endblock %}

