{% extends "layout/admin_layout.html" %}
{% load static %}
{% load staticfiles %}


{% load templatetag %}

{% block content %}


<div class="content-wrapper" style="min-height: 916px;">
    <section class="content-header">
      <h1>
Update  Template Requirement      <small></small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="{% url 'admindashboard' %}"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Tables</a></li>
        <li class="active"></li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
                    <!-- <h3 class="box-title"> Financial Year List </h3> -->
                    <div class="row">
                        <div class="col-md-6">
                          {% comment %} <a href="{% url 'applicationformadd' %}" class="btn btn-primary">Add Details </a> {% endcomment %}
                        </div>
                    </div>
            </div>
            <div class="box-body">
<div class='table-responsive'> <div style="overflow-x:auto;">

              <table id="example2" class="table table-bordered table-hover">
                <thead>
                <tr>
                        <th width="6%">Sr.No</th>
                        <th width="8"> Template Type </th>
                         <th width="8"> Client Type</th>
                          <th width="8">Client Role </th>
                          <th width="8">Client Category </th>
                          <th width="8"> Field</th>
                          <th width="8"> Master</th>
                          <th width="8">Field Role </th>
                          <th width="8">Form Display </th>
                         <th width="8">Actions</th>
                    </tr>
                
                </thead>
                <tbody>
                    {% if responselistquery%}
                         {% for company_details in responselistquery %}
                            {% if forloop.counter|divisibleby:2 %}
                            <tr class="rpFirstRow">
                            {% else %}
                            <tr class="rpSecRow">
                            {% endif %}
                             <td><strong>{{forloop.counter}}</strong></td>
                <td>{{company_details.client_type}}</td>
                <td>{{company_details.client_role}}</td>
                <td>{{company_details.client_category}}</td>
                 <td>{{company_details.field}}</td>
                 <td>{{company_details.master}}</td>
                 <td>{{company_details.Field_role}}</td>
                 <td>{{company_details.form_display}}</td>
                 <td>{{company_details.}}</td>


                              <td><a href="{% url 'applicationformedit' company_details.id %}" style="color: green;">Edit</a>
                   &nbsp;  &nbsp;  &nbsp;  &nbsp; 
                <a href="{% url 'applicationformdelete' company_details.id %}" style="color: red;">Delete</a></td>
                
              </tr>

                        {% endfor %}
                    {% else %}
                    <tr><td></td></tr>
                    {% endif %}
                </tfoot>
              </table>
            </div>
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>

{% include "layout/admin_message.html" %}
{% endblock %}

