{% extends "layout/admin_layout.html" %}
{% block content %}

<div class="content-wrapper" style="min-height: 946px;">
  <section class="content">
    <div class="box box-default">
      <div class="box-header with-border">

        {% if holidaysid %}
          <h3 class="box-title"> Update Holidays </h3>
        {% else %}
          <h3 class="box-title"> Add Holidays </h3>
        {% endif %}
        
      </div>
      <div class="box-body">
        <form action="" method="post" id="holidays_form">
        <div class="row">

          {% csrf_token %}

            <input type="hidden" name="holidaysdaysid" value="{{holidaysdaysid}}">
            <div class="col-md-4">
                  <div class="form-group">
                      <label> Holiday Type </label>
                          <input type="text" class="form-control" name="holidays_type" value="{{data.holidays_type}}" id="holidays_type" maxlength="100">
                  </div>
            </div>

            <div class="col-md-4">
                 <div class="form-group">
                    <label> Holiday Date  </label>
                  <input type="date" class="form-control" name="holidays_date" value="{{data.holidays_date}}" id="holidays_date1" required="">
            </div>
            </div>

              <div class="col-md-4">
                <div class="form-group">
                    <label> Parent Company </label>
                       <select name="parent_company" class="form-control">
                            <option value="" >Select Parent Company </option>
                            {% for appli in parent_company %}
                                <option value="{{appli.id}}" 
                                {% if appli.id == data.parent_com_id %} selected="" {% endif %}>{{appli.company_id}}</option>
                            {% endfor %}
                      </select> 
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                    <label> Head Office </label>
                       <select name="head_offce" class="form-control">

                            <option value="" >Select Head Office </option>
                            {% for appli in head_offce %}
                                <option value="{{appli.id}}" 
                                {% if appli.id == data.head_office_id %} selected="" {% endif %}>{{appli.hod_id}}</option>
                            {% endfor %}
                      </select> 
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                    <label> Branches </label>
                             <select name="branches" class="form-control multiselect" multiple="" required="" id="calender_branch_validation">

                                  <option value="" >Select Branches </option>
                                  {% for appli in branches %}
                                    <option value="{{appli.id}}" 
                                      {% for data in data.manageholidaysbranches_set.all %}
                                      
                                      {% if appli.id == data.branch_id %} selected="" {% endif %}

                                      {% endfor %}
                                      >{{appli.branch_id}}</option>
                                  {% endfor %}
                            </select> 
                      <label class="multi_select_va error"></label>
                </div>
              </div>

              <div class="col-md-4">
                  <div class="form-group">
                        <label> Impact on Salary </label>
                        <select name="implact_on_salry" class="form-control">

                                <option value="" >Select Impact on Salary </option>
                                {% for im in impace_on_salary %}
                                    <option value="{{im.0}}" {% if im.0 == data.impact_on_salary %} selected="" {% endif %}>{{im.1}}</option>
                                {% endfor %}
                          </select> 
                  </div>
              </div>



              <div class="col-md-4">
                  <div class="form-group">
                        <label> Is Active </label>
                        {% if holidaysid %}
                          <input type="checkbox"   name="is_active" {% if data.is_active %} checked="" {% endif %}>
                        {% else %}
                          <input type="checkbox"   name="is_active" checked="">
                        {% endif %}
                  </div>
              </div>
                
            
        </div>
        <div class="form-group">
            {% if holidaysid %}
              <input name="" type="submit" value="Update" class="btn btn-primary" id="holidays_btn"> 
            {% else %}
              <input name="" type="submit" value="Submit" class="btn btn-primary" id="holidays_btn"> 
            {% endif %}
        </div>
          </form>
      </div>
  </section>
</div>

{% endblock %}