{% extends "layout/admin_layout.html" %}
{% load static %}
{% load staticfiles %}

{% block content %}

<div class="content-wrapper" style="min-height: 946px;">
  <section class="content">
    <div class="box box-default">
      <div class="box-header with-border">
      </div>
      <div class="box-body">
      <form action="" method="post" id="response_form_id_map_city">
        <div class="row">

          {% csrf_token %}
            <input type="hidden" name="branch_id_id" value="{{branch_id_id}}">

            <div class="col-md-4">
                <div class="form-group">
                     <label> Country  </label>
                      <select name="contry" class="form-control" id="id_country_map_city">
                              <option value="" selected="">Select Country </option>
                              {% for im in country %}
                                  <option value="{{im.id}}" {% if im.id == data.country_id %} selected="" {% endif %}>{{im.name}}</option>
                              {% endfor %}
                        </select> 
                </div>
            </div>  
            <div class="col-md-4">
                  <div class="form-group">
                       <label> Select City </label>
                          <select name="city" class="form-control multiselect" multiple="" id="id_city" required="">
                                  <option value="" >Select City</option>
                                  {% if branch_id_id != None %}
                                      {% for im in city %}
                                          <option value="{{im.id}}"
                                           {% for app in get_mapped_city %}

                                              {% ifequal im.id app.city_id %} selected="" {% endifequal %}

                                             {% endfor %}
                                          >{{im.name}}</option>
                                      {% endfor %}
                                  {% endif %}
                            </select> 
                <label class="multi_select_va error"></label>
                  </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                      <label> Head Office</label>
                       <select name="head_offce" class="form-control"  id="id_head_office" required="">
                        <option value="" >Select Head Company </option>
                        {% for im in headoffice %}
                            <option value="{{im.id}}" {% if im.id == data.head_office_id %} selected="" {% endif %}>{{im.hod_id}}</option>
                        {% endfor %}
                      </select> 
               
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                      <label> Branch </label>
                       <select name="branch_name" class="form-control"  id="id_brach">
                            <option value="" >Select Head Branch</option>
                            {% for im in branch %}
                                <option value="{{im.id}}"  {% if im.id == data.branch_id %} selected="" {% endif %}>{{im.branch_id}}</option>
                            {% endfor %}
                        </select> 
                     <label class="multi_select_va1 error"></label>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                      <label> Is Active </label>
                  {% if branch_id_id %}
                      <input type="checkbox"   name="is_active" {% if data.is_active %} checked="" {% endif %}>
                  {% else %}
                      <input type="checkbox"   name="is_active" checked="">
                  {% endif %}
                </div>
            </div>
        </div>
        <div class="callout callout-info" style="background-color: gray !important;">
           <h4> Seleted Branch : <span id="select_branch"></span></h4>
           <h4> Seleted City : <span id="select_city"></span></h4>
        </div>
        <div class="form-group">
               {% if branch_id_id %}
                        <input name="" type="submit" value="Update" class="btn btn-primary" id="response_form_id_map_city_btn"> 
                        {% else %}
                        <input name="" type="submit" value="Submit" class="btn btn-primary" id="response_form_id_map_city_btn"> 
                  {% endif %}
              </div>
          </form>
      </div>

  </section>
</div>

{% endblock %}




