{% extends "layout/website_layout.html" %}
{% load static %}
{% load staticfiles %}

{% load templatetag %}

{% block content %}


<div class="content-wrapper" style="min-height: 916px;">
    <section class="content-header">
      <h1>
        Interview Status
        <small></small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="{% url 'admindashboard' %}"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#"> Interview Status </a></li>
        <li class="active"></li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">

            </div>
            <div class="box-body">
            <div class='table-responsive'> <div style="overflow-x:auto;">
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                      <tr>

                      <th> Sr.No </th>
                      <th> Location  </th>
                      <th> Department </th>
                      <th> Designation </th>
                      <th> Received from </th>
                      <th> Shortlisted Candidate Name  </th>
                      <th>Interview Committee </th>
                      <th>place Of Interview  </th>
                      <th> Timing Of Interview</th>
                      <th>Date Of Interview  </th>
                        
                      <th> Resume </th>
                     
                      <th> Status Of Interview </th>
                      <th> New Date </th>
                      <th> New Time </th>
                      <th>  New Place Of Interview</th>
                      <th>  New Contact Person</th>
                      <th> Interview Result</th>
                     
                      <th> Action</th>
                  </tr>
                  




                </thead>
                <tbody>
                    {% if responselistquery %}
                         {% for data in responselistquery %}
                           <tr>
                            <td><strong>{{ responselistquery.start_index|add:forloop.counter0 }}</strong></td>
                            <td>{{ data.location }}</td>
                            <td>{{ data.department.department }}</td>
                            <td>{{ data.designation }}</td>
                            <td>{{ data.received_from }}</td>
                            <td> {{ data.name_of_candidate }} </td>
                            <td> {{ data.interview_committee }} </td>
                            <td> {{ data.place_of_interview }} </td>
                            <td> {{ data.timing_of_interview }} </td>
                           
                            <td> {{ data.date_of_interview }} </td>
                           
                             <td><a href="/media/{{ data.resume_received_doc }}" target="_blank">Resume</td>
                           
                            <td> {{ data.interview_of_status }} </td> 
                            <td> {{ data.new_date }} </td> 
                            <td> {{ data.new_date }} </td> 
                            <td> {{ data.new_place_of_interview }} </td> 
                            <td> {{ data.new_contact_person }} </td> 
                            <td> {{ data.interview_result_1 }} </td> 
                           
                  {% comment %} <tr>
                      <th> Sr.No </th>
                      <th> Location  </th>
                      <th> Department </th>
                      <th> Candidate Name  </th>
                      <th> Contact Number  </th>
                      <th> Email ID</th>
                      <th> Profile Summary </th>
                      <th> Interview Committee </th>
                      <th> Date of Interview   </th>
                      <th> Recommendation   </th>
                      <th> Status </th>
                      <th> Action</th>
                  </tr>
                </thead>
                <tbody>
                    {% if responselistquery %}
                         {% for data in responselistquery %}
                           <tr>
                            <td><strong>{{ responselistquery.start_index|add:forloop.counter0 }}</strong></td>
                            <td> {{ data.location}}</td>
                            <td> {{ data.department.department }}</td>
                            <td> {{ data.name_of_candidate }} </td>
                            <td> {{ data.phone_no }} </td>
                            <td> {{ data.email_id }} </td>
                            <td> {{ data.profile_summary }} </td>
                            <td> {{ data.interview_committee }} </td>
                            <td> {{ data.date_of_interview }} </td>
                            <td> {{ data.recommendation }} </td>
                            <td>{{ data.get_interview_status_display }}</td>
                             {% endcomment %}
                            <td>
                              {% get_permission_data_from 1 7 as permission_menu %}

                              {% if permission_menu.edit %}
                                <a href="{% url 'crm_website_employeeservices_recruitement_interview_status_update' data.id %}" style="color: green;">Edit</a>
                              {% endif %}
                        </tr>
                        {% endfor %}
                    {% else %}
                    <tr><td></td></tr>
                    {% endif %}
                </tfoot>
              </table>
            </div>
          </div>
          <!-- /.box -->
        </div>
                <div class="row">
            {% include "layout/manage_pagination.html" %}
        </div>
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>

{% include "layout/admin_message.html" %}
{% endblock %}

