{% extends "layout/website_layout.html" %}
{% load templatetag %}
{% block content %}

<div class="content-wrapper" style="min-height: 916px;">
    <section class="content-header">
      <h1>
        Accept Claims
        <small></small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="{% url 'admindashboard' %}"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#"> Accept Claims   </a></li>
        <li class="active"></li>
      </ol>
    </section>

    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
            <div class="box-body">
            <div class='table-responsive'> <div style="overflow-x:auto;">
              <table id="example2" class="table table-bordered table-hover">
                  <thead>
                      <tr>
                          <th> Id </th>
                          <th> Location  </th>
                          <th> Department </th>
                          <th> Month and Year  </th>
                          <th> Employee id </th>
                          <th> Employee Name </th>
                          <th> Reimbursement Type </th>
                          <th> Reimbursement Period </th>
                          <th> Amount </th>
                          <th> Approved Amount  </th>
                          <th> Status </th>
                      </tr>
                  </thead>
                <tbody>
                    {% if responselistquery %}
                         {% for data in responselistquery %}
                           <tr>
                             <!-- <td>
                              <input type="checkbox" name="check_box_select[]" class="checkboxes" value="{{data.id}}"></td> -->
                              <!-- <td> -->
                            <td> 
                              <strong>{{ responselistquery.start_index|add:forloop.counter0 }}</strong>
                            </td>
                            
                            <td>
                            <li> {{data.location}} </li>

                            </td>
                            <td> {{ data.department }} </td>
                            <td> {% now "F" %} and  {% now "Y" %} </td>
                            <td> {{data.employee_id}} </td>
                            <td> {{data.employee_names}} </td>
                            <td> {{ data.reimbursement_type_1.reimbursement_type }} </td>
                            <td> {{ data.reimbursement_period_1 }} </td>
                            <td> {{ data.amount_1 }} </td>
                            <td> {{ data.approved_amount }} </td>
                            <td> {{ data.get_status_display }} </td>
                        </tr>
                        {% endfor %}
                    {% else %}
                    <tr><td></td></tr>
                    {% endif %}
                </tfoot>
              </table>
            </div>
          </div>
        </div>
                <div class="row">
            {% include "layout/manage_pagination.html" %}
        </div>
      </div>
    </section>
</div>
{% include "layout/admin_message.html" %}
{% endblock %}

